h1 {
  text-align: center;
  color: red;
}

p, h2 {
  text-align: center;
}

body {
  background-color: green;
}

.info-form {
  width: 200px;
  height: 100px;
  border: 2px solid red;
  box-sizing: border-box;
  text-align: center;
}